.container2 {
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.subhead {
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */


    /* Primary/Ninja Black */

    color: #282828;

}

.subcontext {
    /* align-items: center;
    padding: 26px 18px; */

    position: absolute;
    border: 1px solid red;
}
.subborder {
    padding: 16px 8px;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.subhead1 {
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */


    /* Primary/Ninja Black */

    color: #282828;
}